body {
  background-color: #f0f0f0;
}

.container {
  margin: 0 100px 0 100px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Hepta Slab", serif;
  color: #7d39eb;
  font-size: 5rem;
  margin-bottom: 40px;
}

#board {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}
.card {
  aspect-ratio: 1 / 1;
  background-color: rgb(169, 200, 211);
  position: relative;
}

.card img {
  opacity: 1;
  transition: opacity 0.5s;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card.hidden img {
  opacity: 0;
  transition: opacity 0.5s;
}

.card.hidden {
  border: 1px solid rgba(238, 74, 177, 0.2);
  background-image: url(/src/gifs/cover.webp);
  background-size: cover;
}

.start-button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  font-family: "Hepta Slab", serif;
  font-size: 1.5rem;
  background-color: #ee4ab1;
  color: white;
  border: none;
  cursor: pointer;
}

.start-button:hover {
  background-color: #ca2a8f;
}
